*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    text-align: center;
}



#container
{
    margin: 0 auto;
    padding: 10px;
    width: 50vw;
}


.libertadores
{
    background-color: #ebfaff;
    color: rgb(0, 0, 152);
}

.p-libertadores
{
    background-color: lightcyan;
    color: #029c9c;
}

.sula
{
    color: #234e23;
    background-color: #ebffeb;
}

.serieb
{
    color: #ae3737;
    background-color: #ffe9e9;
}

img
{
    height: 5vh;
    width: 5vw;
}

table, td, th
{
    border: 1px white;
    border-collapse: collapse;
    padding: 5px;
    margin: 0 auto;
    width: 50vw;
    text-align: left;
}

th
{
    background-color: darkgray;
}

th:nth-child(1)
{
    width: 10%;
}

th:nth-child(2)
{
    width: 40%;
}

th:nth-child(3)
{
    width: 15%;
}

th:nth-child(4)
{
    width: 15%;
}

th:nth-child(5)
{
    width: 15%;
}

#container2
{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.item
{
    display: flex;
    align-items: center;
    gap: 6px;
}

#blocoA
{
    width: 2vw;
    height: 3vh;
    min-height: 3vh;
    min-width: 2vw;
    background-color: #ebfaff;
    border: darkblue 2px solid;
}

#blocoB
{
    width: 2vw;
    height: 3vh;
    min-height: 3vh;
    min-width: 2vw;
    background-color: lightcyan;
    border: darkblue 2px solid;
}

#blocoC 
{
    width: 2vw;
    height: 3vh;
    min-height: 3vh;
    min-width: 2vw;
    background-color: #ebffeb;
    border: darkblue 2px solid;
}

#blocoD
{
    width: 2vw;
    height: 3vh;
    min-height: 3vh;
    min-width: 2vw;
    background-color: #ae3737;
    border: darkblue 2px solid;
}

tr
{
    border-bottom: 1px black solid;
}

#blocoA + p
{
    color: #ae3737;
}

#blocoB + p
{
    color: rgb(105, 96, 85);
}

#blocoC + p
{
    color: #029c9c;
}

#blocoD + p
{
    color: rgb(160, 100, 95);
}