body
{
    background-color: #F0F4F8;
    color: #4A4A4A;
    font-family: "Lora", sans-serif;
    line-height: 1.6;
}
h1
{
    font-family: "Merriweather", sans-serif;
    color: #2C3E50;
}
h2
{
    color: #5D4E37;
}
