*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container
{
    display: grid;
    grid-template-areas: 'header header header'
                         'nav areaP aside'
                         'footer footer footer';
    grid-template-rows: 140px 1000px 72px;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
}

#cabecalho
{
    background-color: darkred;
    grid-area: header;
}

#menu
{
    background-color: blue;
    grid-area: nav;
}

#areaP
{
    background-color: coral;
    grid-area: areaP;
}

#lateral
{
    background-color: cornflowerblue;
    grid-area: aside;
}

#rodape
{
    background-color: burlywood;
    grid-area: footer;
}

#brasao
{
    float: left;
    margin-top: 22px;
    margin-left: 10px;
}

#tituloRS
{
    color: lightyellow;
    font-size: 36px;
    float: left;
    left: 60px;
    margin-left: 60px;
    line-height: 140px;
}

#lista
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.linhas
{
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    background-color: green;
}

.link
{
    
}